.project,
.project-list {
  display: flex;
}

.project {
  flex-direction: column;
  align-items: center;
}

.project-list {
  max-width: 90vw;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  list-style: none;
}

.project h1 {
  margin: 2.5rem 0 3rem 0;
}