.column,
.column-title,
.column-cards {
  display: flex;
}

.column {
  width: 23.9vw;
  justify-content: center;
  flex-direction: column;
}

.column-title {
  height: 10vh;
  justify-content: center;
  align-items: center;
  /* border: 0.1rem solid #000; */
}

.column-cards {
  flex-direction: column;
  align-items: center;
}