form {
  width: 23vw;
  height: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 18vw;
  height: 4vh;
  font-size: 1.2rem;
  margin: .3vw 0 .5vw 0;
  padding: 1vw;
}