.new-project,
.new-project__add {
  display: flex;
}

.new-project {
  max-width: 72.6vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new_project__add {
  justify-content: center;
  align-items: center;
  margin-top: 17%;
}

.black-target {
  width: 23vw;
  height: 4vh;
}

form {
  width: 23vw;
  height: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 18vw;
  height: 4vh;
  font-size: 1.2rem;
  margin: .3vw 0 .5vw 0;
  padding: 1vw;
}