.project,
.project-list,
.container,
.new-project,
.new-project__add {
  display: flex;
}

.project {
  flex-direction: column;
  align-items: center;
}

.container {
  justify-content: center;
  align-items: center;
}

.project-list {
  max-width: 72.6vw;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  
}

.project h1 {
  margin: 2.5rem 0 3rem 0;
}

.new-project {
  flex-direction: column;
  align-items: center;
}

.new_project__add {
  justify-content: center;
  align-items: center;
  margin-top: 17%;
}

.black-target {
  width: 23vw;
  height: 4vh;
}