li{
  display: flex;
  flex-direction: column;
  /* background-color: cadetblue; */
}

button:first-child {
  margin-bottom: .5rem;
}

.project-card,
.project-buttons,
.project-card__info,
.new-project,
.new-project__button,
h3 {
  display: flex;
}

.project-card__info {
  height: 7.6rem;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}

.project-card__info-percent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #a2a2ff;
  font-size: 3rem;
}

.project-card__info-data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 15%;
}

.project-buttons {
  height: 7.6rem;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  justify-content: center;
  align-items: center;
  height: 4vh;
}