.column,
.column-title,
.column-cards {
  display: flex;
}

.column {
  width: 23.9vw;
  justify-content: center;
  flex-direction: column;
}

.column-title {
  height: 10vh;
  justify-content: center;
  align-items: center;
  /* border: 0.1rem solid #000; */
}

.column-cards {
  position: relative;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.xizinho{
  position: absolute;
  top: .8rem;
  left: 21.2vw;
  width: 1.5vw;
  height: 3vh;
  background-color: red;
  color: white;
  font-size: .9rem;
  border: none;
  border-radius: 25%;
}