.side-bar,
.side-bar__title,
.side-bar__title__nav,
.side-bar__info,
.side-bar__info ul,
.side-bar__info li {
  display: flex;
}

.side-bar {
  width: 100vw;
  height: 17vh;
  justify-content: space-between;
  background-color:#202124;
}

.side-bar__title,
.side-bar__info {
  flex: 1;
}

.side-bar__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: var(--title-color);
  padding-left: 2.5vw;
}

.nav {
  color: var(--title-color);
  text-decoration: none;
}

.nav:last-child {
  margin-left: 35%;
}

.side-bar__info {
  justify-content: flex-end;
  padding-right: 5vh;
}

.side-bar__info ul {
  list-style: none;
  align-items: center;
}

.side-bar__info li {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2.5vh;
  color: var(--title-color);
}